<!DOCTYPE html>
<html>
    <head>
        <title>Travel Site</title>
        <link rel="icon" href="images/icon.svg">
        <link rel="stylesheet" href="/404.css">
        <script src="/scripts/header.js"></script>
    </head>
    <body>
        <header></header>
        <nav></nav>
        <div class = "content">
            <img src="/images/404-image.png" class="cat-image">
            <p class="error">Could not find restaurant with ID: <%=id%></p>
        </div>
        <footer></footer>
    </body>
</html>